.default {
  width: 300px;
  height: 200px;
  background-color: #4caf50;
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 84%, 84% 100%);
  border-radius: 5px;
}

.featureScheme {
  width: 330px;
  height: 250px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--primary-color);
  clip-path: polygon(0 0, 82% 0, 100% 13%, 100% 99%, 11% 100%, 0 91%);

  div {
    align-self: flex-start;
  }

  div p {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
  }

  div h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #999;
  }
;

  p {
    font-size: 16px;
    color: #acacac;
    font-weight: 400;
  }

}

.modified {
  width: 330px;
  height: 250px;
  background-color: #24CBBF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--primary-color);
  clip-path: polygon(0 0, 82% 0, 100% 13%, 100% 99%, 11% 100%, 0 91%);

  div {
    align-self: flex-start;
  }

  div p {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
  }

  div h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--primary-color);
  };

  p {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 100;
  }
}

.address {
  display: flex;
  position: absolute;
  z-index: 1000;
  flex-direction: column;
  clip-path: polygon(100% 0, 100% 90%, 86% 100%, 0 100%, 0 0);
  background-color: #EBF0F3;
  width: 410px;
  height: 120px;
  top: 112px;
  left: 50px;
  padding: 20px;
  border-radius: 5px;

  h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'GropledBold', sans-serif;
    background: linear-gradient(to right, #6e6e6e, #151515);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 16px;
    color: var(--secondary-color);
    width: 290px;
  }
}

.addressContact {
  display: flex;
  position: absolute;
  z-index: 1000;
  flex-direction: column;
  clip-path: polygon(100% 0, 100% 90%, 86% 100%, 0 100%, 0 0);
  background-color: #EBF0F3;
  width: 410px;
  height: auto;
  bottom: 112px;
  right: 50px;
  padding: 20px;
  border-radius: 5px;

  .label {
    color: var(--grey-font-color);
    font-size: 18px;
    font-weight: 500;
  }

  .value {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {


  .featureScheme {
    width: 100%;
    height: fit-content;
    gap: 32px;
    justify-content: center;
    padding: 20px;
    clip-path: polygon(0 0, 94% 0, 100% 8%, 100% 100%, 6% 100%, 0 94%);
  }

  .modified {
    width: 100%;
    height: fit-content;
    gap: 32px;
    clip-path: polygon(0 0, 94% 0, 100% 8%, 100% 100%, 6% 100%, 0 94%);
  }

  .address {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .addressContact {
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 480px) {

  .address {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 200px;
    transform: none;
    margin-bottom: 20px;

    p {
      width: 100%;
    }
  }

  .addressContact {
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 200px;
    transform: none;
    margin-top: 20px;

    .label, .value {
      font-size: 16px;
      width: 100%;
    }
  }
}
