.rotatingLinesLoader {
  display: flex;
  gap: 5px;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  transition: 0.2s ease-in-out;

  span {
    color: #fff;
    font-size: 16px;
    margin: 0 0 0 10px;
    font-family: 'Manrope', sans-serif;
    padding: 0;
  }
}
