.bottomNav{
  display: none;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px;
  outline: none;
  z-index: 9999;
  bottom: 60px;
  border-radius: 10px;
}

.accountButton{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: #24cbbf;
        color: white;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.links {
  list-style: none;
  bottom: 0;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
}

.link {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease-in-out;

  &:hover{
    background-color: #24cbbf;
    color: white;
  }

}

.bottomBurgerMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: 1000;
  border-radius: 25px 25px 0 0;
  padding: 10px 70px;

  @media screen and (max-width: 768px) {
    padding: 10px 60px;
  }
}

.logo{
  width: 100%;
}

.burgerIcon{
  font-size: 20px;
  background: #24CBBF;
  border: none;
  padding: 5px 6px 2px 6px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

@media (max-width: 1028px) {
  .bottomNav{
    display: flex;
    flex-direction: column;
  }

}