.bottomNav{
  display: none;
}

.nav {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px;
  outline: none;
  bottom: 60px;
  border-radius: 10px;
}

.links {
  list-style: none;
  bottom: 0;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
}

.link {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;

}

.bottomBurgerMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 1%;
  left: 0;
  background-color: var(--primary-color);
  z-index: 1000;
  padding: 10px 70px;

  @media screen and (max-width: 768px) {
    padding: 10px 60px;
  }
}

.logo{
  width: 100%;
}

.burgerIcon{
  font-size: 20px;
  background: #24CBBF;
  border: none;
  padding: 5px 6px 2px 6px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1028px) {
  .bottomNav{
    display: flex;
    flex-direction: column;
  }

}