.default {
  background: none;
  color: black;
  border: none;
  font-size: 16px;
}

.popupBlack{
  background: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);
  }
}

.popupGrey{
  background: #ebf0f3;
  color: #7f8283;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px 5px rgb(127, 130, 131);
  }
}

.outline {
  background: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  border: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.outline:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);
}

.headerSign {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 30px;
  border: none;
  font-size: 16px;
  gap: 5px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.headerSign:hover {
  transform: scale(1.1);
  will-change: transform;
}

.hero {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 30px;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 5px 0 20px 2px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.hero:hover {
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.7);
}

.companyInfo {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 30px;
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: -12px 0 20px 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  width: fit-content;
  margin-top: 35px;
  z-index: 99;
}

.companyInfo:hover {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.7);
}

.form {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 30px;
  padding: 12px 50px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 12px 0 20px 2px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  width: fit-content;
  margin-top: 40px;

}

.form:hover {
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.7);
}

.calculator {
  background: #17F4E3;
  color: var(--secondary-color);
  border-radius: 30px;
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 12px 0 20px 2px rgba(31, 255, 242, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.calculator:hover {
  box-shadow: 0 0 30px 10px rgba(21, 149, 140, 0.5);
}

.authentication {
  background: #000000;
  color: var(--primary-color);
  border-radius: 30px;
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  width: 100%;
  box-shadow: -12px 0 20px 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  z-index: 99;
}

.authentication:hover {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.7);
}

.authenticationNoShadow {
  background: #000000;
  color: var(--primary-color);
  border-radius: 30px;
  padding: 15px 15px;
  border: none;
  font-size: 16px;
  width: 100%;
  z-index: 99;
  transition: 0.3s ease-in-out;

  @media (max-width: 768px) {
    max-width: 380px;
  }
}

.authenticationNoShadow:hover {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.7);
}

.check {
  background: #24CBBF;
  color: var(--primary-color);
  border-radius: 30px;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  font-weight: 600;
  width: 95%;
  box-shadow: -12px 0 20px 2px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  z-index: 99;
}

.check:hover {
  box-shadow: 0 0 30px 10px var(--allocation-color);
}

.defBlackButton {
  background: black;
  color: white;
  border-radius: 30px;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 99;
  align-items: center;
  height: fit-content;
}

.defBlackButton:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);
}

.backButton {
  background: var(--main-background-color);
  color: var(--grey-font-color);
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 99;
  align-items: center;
  justify-content: center;
  display: flex;
  height: fit-content;
  padding: 12px 20px;
}

.backButton:hover {
  box-shadow: 0 0 20px 5px var(--allocation-color);
}

.cancellation {
  background: var(--main-background-color);
  color: var(--grey-font-color);
  border-radius: 30px;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  max-width: 300px;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 99;
  align-items: center;
  height: fit-content;

  @media (max-width: 768px) {
    max-width: 380px;
  }
}

.cancellation:hover {
  box-shadow: 0 0 20px 5px var(--allocation-color);
}

.payment {
  background: var(--primary-color);
  color: var(--grey-font-color);
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 99;
  align-items: center;
  height: fit-content;
}

.payment:hover {
  box-shadow: 0 0 20px 2px var(--allocation-color);
}

@media (max-width: 1028px) {

  .defBlackButton {
    width: 100%
  }
}


@media (max-width: 768px) {
  .companyInfo {
    width: 100%;
  }


}
