.wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 17px 20px;
  background-color: #EBF0F3;
  gap: 30px;
  height: 100%;
  border-radius: 15px;
}

.diagram {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentSalary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.sumContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.title {
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(to right, var(--grey-font-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sum {
  font-size: 45px;
  font-weight: 600;
  background: linear-gradient(to left, var(--grey-font-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

@media  (max-width: 1440px) {
  .rest {
    flex-direction: column;
    align-items: start;
  }
}

@media  (max-width: 1028px) {
  .wrapper {
    gap: 15px;
  }

  .sum{
    font-size: 30px;
  }
}

@media  (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }
}

@media  (max-width: 480px) {
  .sum{
    font-size: 20px;
  }
}