.wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 17px 20px;
  background-color: #EBF0F3;
  position: relative;
  gap: 30px;
  height: 100%;
  border-radius: 15px;

  @media screen and (max-width: 768px)
  {
    width: 100%;
    border-radius: 5px;
  }
}

.diagram {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widthdrawButton{
  display: flex;
  position: absolute;
  top: 10%;
  gap: 5px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-weight: bold;
  background: none;
  color: green;
  font-size: 15px;
  outline: none;
  border-radius: 50px;
  border: none;
  right: 2%;
  padding: 10px 15px;
  transition: 0.3s all ease-in-out;

  &:hover {
    background: #D3D3D3;
  }

  @media screen and (max-width: 1028px) {
    left: 2%;
    top: 2%;
    right: unset;
  }
}

.currentSalary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.sumContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.title {
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(to right, var(--grey-font-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sum {
  font-size: 45px;
  font-weight: 600;
  background: linear-gradient(to left, var(--grey-font-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

@media  (max-width: 1440px) {
  .rest {
    flex-direction: column;
    align-items: start;
  }
}

@media  (max-width: 1028px) {
  .wrapper {
    gap: 15px;
  }

  .sum{
    font-size: 30px;
  }
}

@media  (max-width: 768px) {
  .wrapper {
    max-width: 100%;
  }
}

@media  (max-width: 480px) {
  .sum{
    font-size: 20px;
  }
}