
.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 40px 0 120px 0;
  padding: var(--main-padding-properties);
  justify-content: center;
  gap: 40px;
  position: relative;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 25px;
  padding: 0 70px;
}

.item {
  position: absolute;
  top: 0
}

.images {
  display: flex;
  gap: 30px;
  align-items: end;
  flex-wrap: wrap;
  margin-left: 100px;
}

.modified {
  font-weight: bold;
  font-family: 'GropledBold', sans-serif;
  font-size: 40px;

}

.headline {
  font-size: 40px;
  font-weight: 400;
}

.highlight {
  color: lighten(#000000, 50%);
}

.text {
  font-size: 16px;
  color: var(--secondary-color);
}

.gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.info, .textContainer, .item, .images {
  z-index: 2;
}

.image {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 1028px) {
  .textWrapper {
    width: 100%;
  }

  .textContainer {
    width: 100%;
  }

  .item {
    position: relative;
  }

  .images {
    margin: auto;
    gap: 20px;
    justify-content: center;
  }

  .image {
  }
}

@media (max-width: 768px) {

  .modified{
    font-size: 30px;
  }

  .info {
    gap: 20px;
  }

    .textWrapper {
      margin: 0;
    }

  .textContainer {
    gap: 15px;
    padding: 0;
  }


  .image {
    max-width: 200px;
  }

  .text {
    font-size: 14px;
  }

  .headline {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .headline {
    font-size: 20px;
  }

  .image {
    max-width: 150px;
  }
}




