
.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 40px 0 0 0;
  justify-content: center;
  gap: 40px;
  position: relative;
  padding: var(--main-padding-properties);

  @media screen and (max-width: 768px) {
    padding: 50px 30px;
  }
}

.textWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: justify;
  margin-right: auto;
  gap: 25px;
  padding: 0 70px;
}

.item {
  position: absolute;
  top: 0
}

.images {
  display: flex;
  gap: 30px;
  margin-left: 6%;
}

.image {
  object-fit: contain;
}

.modified {
  font-weight: bold;
  font-family: 'GropledBold', sans-serif;
  font-size: 40px;
  word-spacing: 10px;
  text-align: justify;
}

.headline {
  font-size: 40px;
  font-weight: 400;
  font-family: 'GropledBold', sans-serif;
  word-spacing: 20px;

  @media (max-width: 768px) {
    .text {
      text-align: justify;
    }
  }
}

.highlight {
  color: lighten(#000000, 50%);
  text-transform: uppercase;
}

.space{
  display: flex;
  width: 30px;
  margin: 0 10px 0 10px;
}

.text {
  font-size: 16px;
  color: var(--secondary-color);
}

.gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.info, .textContainer, .item, .images {
  z-index: 2;
}

.image {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 1028px) {
  .textWrapper {
    width: 100%;
  }

  .textContainer {
    width: 100%;
  }

  .item {
    position: relative;
  }

  .images {
    margin: auto;
    gap: 20px;
    justify-content: center;
  }

  .image {
  }
}

@media (max-width: 768px) {

  .modified {
    font-size: 30px;
  }

  .info {
    gap: 20px;
  }

  .textWrapper {
    margin: 0;
  }

  .textContainer {
    gap: 15px;
    padding: 0;
  }

  .image {
    max-width: 200px;
  }

  .text {
    font-size: 14px;
  }

  .headline {
    font-size: 24px;
  }
}

@media (max-width: 478px) {
  .headline {
    font-size: 20px;
  }

  .images {
    display: flex;
    margin: 0;
    align-items: flex-end;

    &:nth-child(2) {
    }
  }
}




