.wrapper {
  display: flex;
  position: relative;
  padding: 82px 30px;
  background-color: var(--secondary-color);
  width: 93%;
}

.containerStyle {
  width: 100%;
  height: 400px;
}

@media (max-width: 1028px) {
  .wrapper {
    margin-top: 80px;
    width: 100%;
    padding: 50px 30px;
  }
  .containerStyle {
    height: 700px;
  }
}