.wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  width: 100%;
}

.navigationGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media (max-width: 1028px) {
  .wrapper {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .navigation {
    width: 768px;
    flex-direction: row;
  }

  .navigationGroup {
    gap: 10px;
  }
}