.wrapper {
  display: flex;
  padding: 20px 10px 10px 10px;
  max-width: 75px;
  width: 100%;
  max-height: 650px;
  height:100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
  width: 100%;
}

.headline {
  font-size: 32px;
  font-weight: bold;
  font-family: 'GropledBold', sans-serif;
  padding-bottom: 13px;
  position: relative;
  background: linear-gradient(to right, var(--grey-font-color), var(--secondary-font-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--grey-font-color), var(--secondary-font-color));
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #A4A8AA;
  font-size: 25px;
  font-weight: 500;
  border: none;
  padding: 15px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--allocation-color);
    color: var(--primary-color);
  }
}

.linkImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  font-weight: 500;
  border: none;
  padding: 15px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--allocation-color);
    color: var(--primary-color);
  }
}

.icon {
  transition: filter 0.2s ease-in-out;
  color: #8e8e8e;
  font-size: 34px;
}

.linkImage:hover .icon {
  filter: brightness(0) invert(1);
}