.goal {
  display: flex;
  flex-direction: column;
  padding: 12px 30px;
  align-items: start;
  background-color: #EBF0F3;
  max-width: 280px;
  width: 100%;
  max-height: 237px;
  height: 100%;
}

.data {
  font-family: 'GropledBold', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: var(--secondary-color);
}

.description {
  font-size: 14px;
  color: var(--secondary-color);
  text-align: justify;
}