.header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: var(--main-padding-properties);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  margin: 0;
  z-index: 1000;
  height: 100px;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.sticky {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  cursor: pointer;
  margin: 0 0 0 0;
  width: fit-content;

  @media screen and (max-width: 1028px) {
    margin: 0 auto;
    width: 100%;
  }
}

.links {
  width: fit-content;
  display: flex;
  align-items: center;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  gap: 30px;
}

.link {
  font-size: 16px;
  transition: transform 0.2s;
  will-change: transform;
  white-space: nowrap;
  cursor: pointer;
}

.accountButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  align-content: center;
  justify-items: center;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
  cursor: pointer;

  p{
    display: flex;
    font-size: 16px;
    gap: 5px;
  }

  &:hover{
    transform: scale(1.02);
    will-change: transform;
  }
}

.link:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.loginButton {
  background-color: blue;
  color: white;
}

.registerButton {
  background-color: green;
  color: white;
}

@media (max-width: 1240px) {

  .links ul {
    gap: 15px;
  }
  .header {
    padding: 0 20px;
  }
}

@media (max-width: 1028px) {
  .header {
    justify-content: center;
    height: 80px;
  }

  .links {
    display: none;
  }
}