.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
  align-items: center;

  span {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: var(--secondary-color);
    color: black;
  }

  p{
    font-size: 16px;
    text-transform: uppercase;
    color: #4d4d4d;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.absolute {
  position: absolute;
  left: 2%;
  top: 0;
}

