.wrapper {
  display: flex;
  margin: 120px auto 120px auto;
  flex-direction: column;
  padding: var(--main-padding-properties);
  flex-wrap: wrap;
  gap: 50px;
  height: auto;
  max-width: 1920px;
  position: relative;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

.beanie {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 70%;
  align-items: self-start;
  justify-content: space-between;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: black;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.headline {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: #000000;
  margin: 0 auto auto 24%;
  font-family: 'GropledBold', sans-serif;
  word-spacing: 150px;

  span{
    word-spacing: 0;
  }
}

.modTitle {
  font-size: 40px;
  font-weight: bold;
  color: lighten(#000000, 50%);
  font-family: 'GropledBold', sans-serif;
}

.keyBenefits {
  display: flex;
  width: fit-content;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.keyBenefitsMob {
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    width: 100%;
    height: fit-content;
  }
}

.highlight {
  color: var(--main-font-color);
}

.scheme {
  display: flex;
  flex-direction: column;
  gap: 55px;
  height: fit-content;
  justify-content: center;
}

@media (max-width: 768px) {
  .beanie {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .headline {
    width: 100%;
  }

  .scheme {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .headline {
    font-size: 26px;
  }
  .modTitle {
    font-size: 26px;
  }
}

