.footer {
  display: flex;
  padding: 80px 30px;
  width: 100%;
  background: url("../../assets/images/footer-bg.png") no-repeat center;
  background-size: cover;
  flex-direction: column;
  gap: 84px;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
  gap: 84px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  gap: 30px;
}

.link {
  font-size: 16px;
  color: var(--primary-color);
  cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactsMob {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.telegram {
  width: 86px;
}

.contactMob {
  display: flex;
  gap: 20px;
  color: white;
  flex-direction: column;
}

.contact {
  display: flex;
  gap: 10px;
  color: white;
  flex-direction: column;
}

.logo {
  font-size: 128px;
  color: var(--primary-color);
  font-weight: bold;
  font-family: 'GropledBold', sans-serif;
}

.copyright {
  color: var(--grey-font-color);
  font-size: 16px;
}

.label {
  font-size: 16px;
  color: var(--grey-font-color);
}

.value {
  font-size: 16px;
  color: var(--primary-color);


  a{
    &:hover{
      text-decoration: underline;
    }
  }

}

.linksMob {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.linksMob ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 1028px) {

  .links ul {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    gap: 30px;
  }

  .logo {
    font-size: 80px;
  }

  .footer {
    gap: 60px;
    margin-top: 60px;
  }

}

@media (max-width: 768px) {

  .mobile {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .desktop {
    display: none;
  }

  .logo {
    font-size: 58px;
  }

}

@media (max-width: 480px) {

  .linksMob {
    flex-direction: column;
  }



  .contactsMob {
    flex-direction: column;
    gap: 20px;
  }

}