@font-face {
  font-family: 'GropledBold';
  src: url('../../assets/fonts/gropled-bold.otf') format('opentype');
}

.heroSection {
  height: 100vh;
  background-image: url('../../assets/images/heroBanner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 0 30px;
  overflow: hidden;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  max-width: 885px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 95%;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  box-sizing: border-box;
}

.headline {
  font-size: 3vw;
  font-weight: 500;
  color: var(--secondary-font-color);
  text-align: center;
  background: linear-gradient(to right, #ffffff, #151515);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'GropledBold', sans-serif;
}

.text {
  max-width: 80%;
  font-size: 1.5vw;
  font-weight: 300;
  color: var(--secondary-font-color);
  text-align: center;
  background: linear-gradient(to right, #ffffff, #151515);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1028px) {
  .content {
    max-width: 700px;
    gap: 15px;
  }
  .headline {
    font-size: 3vw;
  }

  .text {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 80%;
    gap: 15px;
  }
  .headline {
    font-size: 2.5vw;
  }

  .text {
    font-size: 1.5vw;
  }
}

@media (max-width: 480px) {
  .headline {
    font-size: 2vw;
  }

  .text {
    font-size: 1vw;
  }
}